{% extends "blog/base_app.html" %}

{% block title %}
	Detail of "{{ post.title }}" - {{ block.super }}
{% endblock %}

{% block content %}

	{% load crispy_forms_tags %}

	<div class="detail__block">
		<div class="container col-8">
			<h2 class="mt-5">Post - {{ post.title }}</h2>
  
			<em>{{ post.body }}</em>
			{% if post.files %}
				<p><strong>Описание поста здесь: </strong><a href="{{ post.files.url }}">{{ post.files.url }}</a></p>
			{% endif %}
			<br/>
			<p><img src="{{ post.picture.url }}" width="500px" height="auto" alt="Нет картинки"></p><br/>
			
			{% if request.user.is_authenticated %}
				{% if post.user == request.user %}
					<a type="submit" class="btn btn-success" href="{% url 'change_page' id=post.id %}">Изменить пост</a>

					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
						Удалить пост
					</button>


					<!-- Modal -->
					<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalScrollableTitle">Удаление поста</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<strong>Вы действительно хотите удалить пост "{{ post.title }}"????</strong>
								</div>
								<div class="modal-footer">
									<a type="submit" class="btn btn-danger" href="{% url 'delete_post' id=post.id %}">Удалить пост</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}

			<p class="mt-3"><strong>Было опубликованно: </strong> {{ post.date_pub }}</p>
			<p><i class="fa fa-eye" aria-hidden="true"></i> <strong>Количество просмотров: </strong> {{ post.views }}</p>

		</div>
	</div>


	{% if request.user.is_authenticated %}
		<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#exampleModalCenter">
			Создать комментарий
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Комментарий</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<form action="{% url 'detail_page' id=post.id %}" method="post">
						<div class="modal-body">
							{% csrf_token %}

							{% include "include/alert.html" %}

							{{ form|crispy }}
						</div>
						<div class="modal-footer">
							<button class="btn btn-light">Создать</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	{% endif %}

	{% if comments %}
		<h2 class="mt-3">Все отзывы <span class="badge badge-info">{{ post.comments.count }}</span></h2>
		{% for comment in comments %}	
			<div class="card mt-5 mb-5">
				<h5 class="card-header">{{ comment.user }}</h5>
				<div class="card-body">
					<h5 class="card-title">{{ comment.title }}</h5>
					<p class="card-text">{{ comment.desc }}</p>
				</div>
				<div class="card-footer">
					{{ comment.date_pub }}
				</div>
			</div>

		{% endfor %}
	{% else %}
		<h5>Нет комментариев к этому посту!</h5>
	{% endif %}
{% endblock %}